@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+QLD+Hand:wght@400..700&display=swap');

@import './Navbar.css';
@import './Portfolio.css';


* {
  box-sizing: border-box;
  cursor: inherit;
}

body {
  overflow-x: hidden;
  background-color: rgba(128, 128, 128, 0.205);
   margin: 0;
  padding: 0;
  cursor: url('/cursor.png'), auto;
}

html, body {
  cursor: url('/cursor.png'), auto;
}

@media (max-width: 768px) {
  body {
    padding-bottom: 7rem;
  }
}

@media (max-width: 1024px) {
   body {
    padding-bottom: 7rem;
  }
}